body {
  margin:0;

}
.App{
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
}
li{
  display: inline-block;
  margin:0% 5%;
  padding: 1%;
}


.nav-container{
  text-align: right;
  float: right;
  width: 100%;
  font-size: large;
  font-family: sans-serif;
}

.jokes-container{
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  height:100%;
  widows: 100%;
  padding:20%;
}

img {
  height: 5%;
  width: auto;
}

a {
  text-decoration: none;
}
