body {
  margin:0;
  overflow: hidden;
}
.App{
  background-color: #f3f0f0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  margin:0;

}
li{
  display: inline-block;
  margin:0% 5%;
  padding: 1%;
}


.nav-container{
  text-align: right;
  float: right;
  width: 100%;
  font-size: large;
  font-family: sans-serif;

}

.dashboard{
  height:100%;
  widows: 100%;

}

.jokes-container{
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  height:100%;
  width: 100%;
  padding:20% 0%;
  color: #565656;
  background-color: #941010;
}

img {
  height: 5%;
  width: auto;
}

a {
  text-decoration: none;
  color: #565656;
}


.login-container {
  text-align: center;
  font-size: xx-large;
  color: #565656;
  height:100%;
  width: 100%;
  padding-top:10%;
}

input {
  border-color:5px  #565656;
}
